@page
@model LoginModel
@{
    ViewData["Title"] = "User Login";
}
<h1>@ViewData["Title"]</h1>

<div id="login">
    <form id="login_form">
        <div class="field_container">
            <input type="text" placeholder="Email Address">
        </div>

        <div class="field_container">
            <input type="Password" placeholder="Password">
            <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget=".navbarcollapse" ariacontrols="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/MemberProfile">Submit</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

