@page
@model AgapeDirectory.MemberProfileModel
@{
    ViewData["Title"] = "Member Profile";
}

<h1>
    <img src="https://th.bing.com/th/id/OIP.3I0HjzNQUFFC2i2W40eRlQHaJ8?w=154&amp;h=207&amp;c=7&amp;o=5&amp;dpr=1.25&amp;pid=1.7" alt="Image result for blank profile pictures" />
</h1>

<br />

<br />
<br />

    <h2>
        Name:        John Smith
    </h2>
    <br />
    <h2>
        Address:     100 Washington Way,
        Fayetteville, NC 10000
    </h2>
    <br />
    <h2>
        Birthday:    01 January 1990
    </h2>
    <br />